<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection_In" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=AngularJSAuthRefreshToken.Web;AttachDbFilename=|DataDirectory|\BookKeeper.Web.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AngularJSAuthRefreshToken.Web;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>